.dcf {
	label {
		display: block;
		margin-bottom: 0;
	}

	input[type='text']{
		width: 100%;
	}

	textarea {
		height: 220px;
	}

	&__row {
		margin: 20px 0;
	}

	&__button {
		max-width: 200px;
		max-height: 40px;
	}
}
