#dcf {
	label {
		display: block;
		margin-bottom: 0;
	}

	input[type='text'],
	textarea {
		border: 1px solid black;
		padding: 0.2em 0.4em;
		font-size: 0.9rem;

		&:focus-visible {
    	outline-offset: 0px;
			outline: -webkit-focus-ring-color auto 1px;
		}
	}

	input[type='text']{
		width: 100%;
	}

	textarea {
		height: 220px;
	}

	.dcf {
		&__row {
			margin: 20px 0;
		}

		&__button {
			max-width: 200px;
			max-height: 40px;
		}
	}
}
